body {
  background: white
}

.history {
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin: 100px;
font-weight: bold;
margin-bottom: 50px;
background-color: beige;
border-radius: 15px;
}

section#new {
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin: 100px;
font-weight: bold;
margin-bottom: 50px;
background-color: black;
border-radius: 15px;
}


section#table {
margin-left: 580px;
margin-right: 200px;
font-variant:small-caps;
text-align:center;
}



section#edit{
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin: 100px;
font-weight: bold;
margin-bottom: 50px;
background-color: beige;
border-radius: 15px;
text-align: center;
}

section#footer {
    margin: auto;
    height: 330px;
    background-color: blue;
    text-align:center;
    width: 1000px;
    height: 75px;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 15px;
}
​
h1{
    text-align: center;
}

body {

background-image: url("flag.jpg");

}

ul {
margin-left: 60px;

}


h4 {
 margin-left: 55px;

}


img {
    display: block;
    margin: auto;
    width: 40%;
}

@media screen and (max-width: 500px) {
  h1 {
     font-style: italic;
    font-weight: bold;
    font-variant: small-caps;

  }
}


